body {
    display: flex;
    justify-content: center;
    align-items: center;
   
    background-image: url(../img/fundo.JPG);
    background-size: cover;
    user-select: none;
  }
  
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px 60px;
  }
  
  h2 {
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  
  .reset {
    padding: 15px 20px;
    width: 100%;
    color: #000;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    border: solid #fff 3px;
    border-radius: 10px;
    
  }
  
  .reset:focus {
    color: #ec38bc;
    background-color: #262809;
    
  }
  
  .game {
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
  }
  
  .item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
  
    font-size: 3em;
    transform: rotateY(180deg);
    transition: 0.25s;
  }
  
  .item::after {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    border: solid #fff 3px;
    border-radius: 10px;
  }
  
  .item.boxOpen {
    transform: rotateY(0deg);
  }
  
  .boxOpen::after,
  .boxMatch::after {
    transform: rotateY(180deg);
  }
  
  .footer {
    padding: 60px 0px 0px 0px;
    text-align: center;
    align-items: center;
    font-size: 14px;
}
  .footer p {
    color:#ffffff;
}


  